minio
pathlib
pillow
imagecodecs
numpy
tifffile
pandas
opencv-python-headless
deepcell
scikit-image
scipy
scikit-learn
requests
cellmaps_sdk
# git+https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/colm-brandon-ul/hippolib.git