cellmaps-sdk[3_7]
imageio==2.5.0
h5py==2.8.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.1.1
pandas==0.25.0
scikit-image
scikit-learn==0.20.1
scipy==1.1.0
tensorflow==1.14.0
cytoolz==0.10.0
protobuf==3.7.1
opencv-python-headless
numpy==1.16.0