<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CellMaps: Canvas based image annotation tool</title>
        <script src="https://unpkg.com/konva@8.4.3/konva.min.js"></script>
        <style>
            body {
                margin: 0;
                padding: 0;
                overflow: auto;
                background-color: #f0f0f0;
            }

            #controls {
                position: absolute;
                padding: 1vh;
                background-color: rgba(255, 255, 0, 0.5);
                top: 20px;
                left: 5vw;
            }
            #controls div{
                display: block;
                float: left;
            }

            #confidenceLevelControls button,p{
                display: block;
                float: left;
            }

            #confidenceLevelControls p{
                margin-left: 5px;
                margin-right: 5px;
            }
            #confidenceLevelControls button {
                height: 100%;
            }
        </style>
    </head>
    <body>
        
        <div id="container"></div>
        <div id="controls", tabIndex="0">
                <div id="confidenceLevelControls">
                Contrast:
                <input
                id="contrast"
                type="range"
                min="-100"
                max="100"
                step="1"
                value="0"
                />
            </div>
            <div id="confidenceLevelControls">
                <button onclick=cyclePredictedROIs(-1)>
                    &lt;
                </button>
                <p id="confidenceDisplay">Confidence:</p>
                
                <button onclick=cyclePredictedROIs(1)>
                    &gt;
                </button>
            </div>

            <div id="submitControls">
                <button onclick=onSubmit()>
                    Submit
                </button>
    
            </div>
        </div>
        
    <script>
        // Load the background Image and draw the initial ROIs if there are any
        // Set the Conva Container width to window.innerWidth and the height window.innerWidth * aspect_ratio
        var window_width = window.innerWidth;
        var window_height = window.innerHeight;
        var stage;
        var context;
        // Creat two Layers, the background layer which is static and the roiLayer, where the ROIs will be drawn
        var backgroundLayer = new Konva.Layer();
        var roiLayer = new Konva.Layer();
        // Create Transformer so ROIs can be resized
        var tr = new Konva.Transformer();

        // global boolean variables for controlling app state
        var drawROI = false;
        var inShape = false;
        var transformMode = false;
        var controlsToggle = true;

        // global variables for ROI and background Image
        var confidence_index = 0;
        var currentROI;
        var lastPos; 
        var src_image_width,src_image_height,src_aspect_ratio;
        var sliders = ['contrast'];
    
        
        // Load the Slide Image
        var imageObj = new Image();
        
        imageObj.onload = function(){
            src_image_width = imageObj.width;
            src_image_height = imageObj.height;
            src_aspect_ratio = src_image_height / src_image_width
            imageObj.crossOrigin = 'Anonymous';
            // console.log(window_width * src_aspect_ratio)
            // imageObj.crossOrigin = 'anonymous';
            var image = new Konva.Image({
                x:0,
                y:0,
                image: imageObj,
                width: window_width,
                height: window_width * src_aspect_ratio
            });

            image.cache();
            image.filters([Konva.Filters.Enhance]);

            sliders.forEach(function (attr) {
            var slider = document.getElementById(attr);
            function update() {
                image[attr](parseFloat(slider.value));
            }
            slider.oninput = update;
            update();
            });

             // Create Conva Stage
            stage = new Konva.Stage({
            container: 'container',
            width: window_width,
            height: window_width*src_aspect_ratio,
        });
        backgroundLayer.add(image)


        stage.add(backgroundLayer,roiLayer);


        initialisePredictedROIs();

        stage.on("mousedown",mousedownHandler);
        stage.on("mousemove",mousemoveHandler);
        stage.on("mouseup",mouseupHandler);
        stage.on("click",clickHandler);
        roiLayer.add(tr);
        }

        imageObj.src = '{{ nuclear_stain_static }}'
        // imageObj.src = "https://st.hzcdn.com/simgs/pictures/hallways/fishermans-wharf-artistic-designs-for-living-tineke-triggs-img~bc01a92002dc7a37_4-7103-1-2568238.jpg"

        function clickHandler(e){
            if(!inShape && !transformMode) {return}
            else if (!inShape && transformMode){
                tr.nodes([])
                transformMode = false
            }
            
            if (e.evt.shiftKey && !transformMode){
                tr.nodes([e.target])
                transformMode = true
            }
            else if ((e.evt.shiftKey && transformMode)){
                // perhaps additional logic here if target is the same as previous target
                
                if (e.target != tr.getNodes()[0]){
                    tr.nodes([e.target])
                }
                else {
                    tr.nodes([])
                    transformMode = false
                }
            }
        }

        function mousedownHandler(){
            // Need to handle logic for clicking on an existing shape
            if (!inShape && !transformMode){
                drawROI = true;
                pos = stage.getPointerPosition()
                currentROI = new Konva.Rect({
                x : pos.x,
                y : pos.y,
                width: 0,
                height: 0,
                stroke: "red"
            })
            }
        }

        function mouseupHandler(){
            // If a ROI is being drawn then 
            if (drawROI){
                drawROI = false;
                console.log(roiLayer.children)
                // Add callbacks
                currentROI.on('mouseover', function(e){
                    inShape = true;
                    e.target.stroke("green");
                })
                currentROI.on('mouseout', function(e){
                    inShape = false;
                    e.target.stroke("red");
                })

                currentROI.on('click', function(e){
                    if (e.evt.ctrlKey){
                        e.target.destroy();
                    }
                })
            }
        }

        function mousemoveHandler(){
            if (!drawROI) return;
            const newRectWidth = stage.getPointerPosition().x - currentROI.x();
            const newRectHeigth = stage.getPointerPosition().y - currentROI.y();
            currentROI.width(newRectWidth);
            currentROI.height(newRectHeigth);
            roiLayer.add(currentROI).batchDraw();

        }


        function initialisePredictedROIs(){
            // console.log(dataROIs[0]);
            // Loop Over the ROIs
            dataROIs = JSON.parse('{{ predicted_rois|tojson }}')
            
            
            // destroy rectangles that are children of the roiLayer / filter and iterate
            const childrenToDestroy = roiLayer.getChildren().filter(child => child.className === 'Rect');
            childrenToDestroy.forEach(child => child.destroy());
            
            for (roi of dataROIs[confidence_index].rois){
                // translate coordinates
                scale_x = roiLayer.getWidth() / roi.img_w
                scale_y = roiLayer.getHeight() /roi.img_h
                rect = new Konva.Rect({
                x : roi.x1 * scale_x,
                y : roi.y1 * scale_y,
                width: roi.x2*scale_x - roi.x1*scale_x,
                height: roi.y2*scale_y - roi.y1*scale_y,
                stroke: "red",
                // draggable: true
                })
                // Add callbacks
                rect.on('mouseover', function(e){
                    inShape = true;
                    e.target.stroke("green");

                })
                rect.on('mouseout', function(e){
                    inShape = false;
                    e.target.stroke("red");
                })

                rect.on('click', function(e){
                    if (e.evt.ctrlKey){
                        e.target.destroy();
                    }
                })
                roiLayer.add(rect)
            }
            roiLayer.batchDraw();
        }
        
        function cyclePredictedROIs(increment) {
            
            if (confidence_index + increment >= dataROIs.length || confidence_index + increment < 0) return;
            confidence_index += increment;

            initialisePredictedROIs();
        }

        function onSubmit(){
            // args.parameters.predicted_ROIs = [OFF_ROIS]
            const rois = roiLayer.getChildren().filter(child => child.className === 'Rect');
            var final_rois = []
            // Convert to rectangles to ROI Objects and store in List
            for (roi of rois) {

                if (roi.getX() < roi.getX() + roi.getWidth() && roi.getY() < roi.getY() + roi.getHeight()){
                    final_rois.push({
                    "x1": roi.getX(),
                    "y1": roi.getY(),
                    "x2" : roi.getX() + roi.getWidth(),
                    "y2" : roi.getY() + roi.getHeight(),
                    "img_w" : roiLayer.getWidth(),
                    "img_h" : roiLayer.getHeight()
                })
                }
                
            }
            // Add them to json object
            // This may not be correct - as it could overwrite metadata 

            // Add them to json object
            args = {
                'workflow_parameters' : {
                    'rois' : final_rois},
            } 

            // args.metadata = {
            //     dearray_rois : final_rois
            // } 
            // Convert to a JSON String
            const request_body = JSON.stringify(args);

            var request = new XMLHttpRequest();
            // To be populated on the server side

            request.open('POST', "{{ endpoint }}")
            // Do I need Headers?
            request.onreadystatechange = function () {
                    if (this.readyState === 4) {
                        console.log('Status:', this.status);
                        console.log('Headers:', this.getAllResponseHeaders());
                        console.log('Body:', this.responseText);

                        let redirect = JSON.parse(this.responseText)
                        console.log(redirect)
                        window.location.href=redirect.url
                    }
                };
            console.log(request_body)
            request.setRequestHeader("Content-Type", "application/json");
            request.send(request_body)
        }


       
        // Event Listener for toggling control bar on and off
        document.onkeydown= function(e){
            if(e.key === 'Escape'){
                var elm = document.getElementById('controls')
                if (elm.style.display === 'none'){
                    elm.style.display = 'block'
                }
                else{
                    elm.style.display = 'none'
                }
            } 
        };

        // Event listener to have the control bar as sticky``
        document.addEventListener("scroll", (event) => {
        let scroll = this.scrollY;
        elm = document.getElementById('controls') 
        elm.style.top = `${20 + scroll}px`
        });

    </script>
    </body>
</html>



